---
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';

const frontmatter = {
  title: 'Wedding Registry',
};

const meta = {
  title: 'Wedding Registry',
  description: 'Visit our wedding registry.',
  dontUseTitleTemplate: true,
};
---

<MarkdownLayout frontmatter={frontmatter}>
  <!-- Embed Registry Script -->
  <div>
    <script id='script_myregistry_giftlist_iframe' type='text/javascript' src='//www.myregistry.com//Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=OqBrzTf9d5SCpopDNCL7SA2&v=2'></script>
  </div>
</MarkdownLayout>
